{% extends "base.html" %}

{% block content %}
<div class="form-card">
    <h2>Вход</h2>
    <form method="POST">
        <input type="text" name="login" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <select name="role">
            <option value="user">Пользователь</option>
            <option value="admin">Админ</option>
        </select>
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="/register">Регистрация</a></p>
    <hr>
    <p>Админ: admin / admin123</p>
</div>
{% endblock %}